@model IEnumerable<WebApplication3.Models.AntrenmanProgramları>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Antrenman Programları</h1>

<p>
    <a asp-action="Create">Program Oluştur</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusteriID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EgzersizAdı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hedef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setsayısı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslangic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramSüresi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EgzersizAdı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hedef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setsayısı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslangic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramSüresi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
