@model WebApplication3.Models.Mesajlar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Mesajlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlıcıID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlıcıID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlıcıName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlıcıName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GönderenID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GönderenID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GönderenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GönderenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesajİcerigi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesajİcerigi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
