@model WebApplication3.Models.BeslenmePlanı

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BeslenmePlanı</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hedef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hedef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GunlukBesin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GunlukBesin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KaloriHedefi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KaloriHedefi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
